ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*---*/
body {
  margin: 0;
  padding: 0;
  background: #245060;
}

.signup-form {
  width: 300px;
  padding: 20px;
  text-align: center;
  background: rgba(211, 211, 211, 0.562);
  background: cover;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  margin-top: 200px;
  margin-bottom: 100px;
}
.signup-form h1 {
  font-family: sans-serif;
  color: #fff;
  font-size: 40px;
}
.signup-form input {
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat", sans-serif;
}
.field {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.signup-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #487eb0;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.8s;
}
.signup-btn:hover {
  transform: scale(0.96);
}
.signup-form a {
  text-decoration: none;
  color: #fff;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.signup-form a:hover {
  background: rgba(0, 0, 0, 0.3);
}
